/* #app {
	max-width: 600px;
	margin: 0 auto;
}

nav {
	padding: 20px 0;
	color: #f9445c;
} */

a {
    text-decoration: none;
    color: rgb(29, 29, 29);
    font-weight: 500;
}

.icon-delete:hover {
    color: red;
    cursor: pointer;
}

.invalid-feedback {
    display: block;
}
